<!--
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>sign-up</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="signupForm">
        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input
                formControlName="email"
                type="email"
                placeholder="Your email address"
                [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
            </ion-input>
        </ion-item>
        <ion-item
            class="error-message"
            *ngIf="!signupForm.controls['email'].valid
            && signupForm.controls['email'].touched">
            <ion-label>Please enter a valid email.</ion-label>
        </ion-item>

<ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input
    formControlName="password"
    type="password"
    placeholder="Your password"
    [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched"
    >
</ion-input>
</ion-item>
<ion-item
class="error-message"
*ngIf="!signupForm.controls['password'].valid  &&
signupForm.controls['password'].touched"
>
<ion-label>Your password needs more than 6 characters.</ion-label>
</ion-item>

<ion-button
expand="block"
(click)="signupUser(signupForm)"
[disabled]="!signupForm.valid"
>
Create an Account
</ion-button>
</form>
</ion-content>
-->
<div class="wrap-login-v2 offset-top-obj">
    <div class="decor">
        <div class="brand pdb-50">
            <!--<img src="assets/img/lemon_block_w.png">-->
            <ion-icon slot="icon-only" name="radio-button-on" style="color:white; font-size:100px;"></ion-icon>
            <ion-text class="fs-20 text-primary spacing-4 fw-500" style="color:white;" >UBLIM</ion-text>
        </div>
        <div class="more-action pd-20">
            <div text-left class="social-login">
                <p class="txt-light mgb-5 fs-12 pdl-15">Join Ublim with</p>
                <ion-button fill="clear" class="txt-light mgr-5">
                    <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                </ion-button>
                <ion-button fill="clear" class="txt-light mgr-5">
                    <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
                </ion-button>
                <ion-button fill="clear" class="txt-light mgr-5">
                    <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
                </ion-button>
            </div>
            <div text-right class="">
                <ion-button fill="clear" class="txt-light mgl-5 mgr-5 uppercase fw-500" routerLink="/login">
                    Login
                </ion-button>
            </div>
        </div>
        <div class="bg-img">
            <img src="assets/img/lemon18.jpg">
        </div>
    </div>
    <div class="wrap-interval pdl-50 pdr-50">
        <div class="main-form ubi-cred-form">
            <br>
            <form class="pdt-10" novalidate  style="min-height: 400px;" [formGroup]="signupForm" (ngSubmit)="signupUser()">
                <ion-text color="danger"
                          *ngIf="!signupForm.controls['first'].valid && signupForm.controls['first'].touched"
                >
                    <h6 style="font-weight: 400; margin: 1px;">Firstname is required.</h6>
                </ion-text>
                <ion-text color="danger"
                          *ngIf="!signupForm.controls['last'].valid && signupForm.controls['last'].touched"
                >
                    <h6 style="font-weight: 400; margin: 1px;">Lastname is required.</h6>
                </ion-text>
                <ion-text color="danger"
                          *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched"
                >
                    <h6 style="font-weight: 400; margin: 1px;">Email must be a valid email address.</h6>
                </ion-text>
                <ion-text color="danger"
                          *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched"
                >
                    <h6 style="font-weight: 400; margin: 1px;">Password must be at least 6 characters.</h6>
                </ion-text>
                <ion-item-group>
                    <ion-item lines="none" class="bdra-30 shadow-2 bg-light">
                        <ion-input type="text" placeholder="Your firstname" formControlName="first"
                                   [class.invalid]="!signupForm.controls['first'].valid && signupForm.controls['first'].touched"></ion-input>
                    </ion-item>
                    <ion-item lines="none" class="bdra-30 mgt-10 shadow-2 bg-light">
                        <ion-input type="text" placeholder="Your lastname" formControlName="last"
                                   [class.invalid]="!signupForm.controls['last'].valid && signupForm.controls['last'].touched"></ion-input>
                    </ion-item>
                    <ion-item lines="none" class="bdra-30 mgt-10 shadow-2 bg-light">
                        <ion-input type="email" placeholder="Your email address" formControlName="email"
                                   [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched"></ion-input>
                    </ion-item>
                    <ion-item lines="none" class="bdra-30 mgt-10 shadow-2 bg-light">
                        <ion-input type="password" placeholder="Your password" formControlName="password"
                                   [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched"></ion-input>
                    </ion-item>
                </ion-item-group>
                <hr/>
                <ion-button expand="block" shape="round" color="primary" class="uppercase spacing1 fw-600" type="submit"
                            [disabled]="!signupForm.valid">
                    Signup
                </ion-button>

            </form>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>